<!DOCTYPE HTML>
<html>
<title>欢迎使用企业级电商后台管理系统</title>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>header</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
    <meta charset="UTF-8">
    <%--引入bootstarp页面--%>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <%--引入jquery--%>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <style>
        body{

        }
    </style>



</head>

<body >

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 header-left">
    <span class="header-lv"><span class="hidden-xs">旅</span> <span class="glyphicon glyphicon-asterisk hidden-xs hidden-sm"></span> <span class="header-font">行天下</span></span>
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 header-right">
    <div class="row header-right-marign">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">关于</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">|</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">服务</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">|</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">支持</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">|</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">联系</div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        </div>
    </div>
</div>
</body>
</html>